*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(255, 194, 194);
}

.wrapper{
    position: absolute;
    width:300px;
    height:500px;
    background-image:url('image/jakub-kriz-4r_tHA3gsUY-unsplash.jpg') ;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

/*menu、search icon  */
nav{
    width: 100%;
    position: relative;    
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
ul li{
    font-size: 20px;
    margin:20px;
}

/* volumn */
.volumn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.volumn i{
 margin: 0 10px;
}

  input[type="range"]{
    -webkit-appearance: none;
    /* 限定範圍 */
    width:120px;
    height:3px;
    outline : none;  
    border-radius: 20px; 
  }
  input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    position: relative;    /* 設為相對位置，為了前後區塊的絕對位置而設定 */
    width:12px;
    height:12px;
    background:rgb(255, 145, 145);
    border-radius:50%;
    transition:.2s;        /* 點選放大時候的漸變時間 */
  }

  input[type="range"]::-webkit-slider-thumb:before,
  input[type="range"]::-webkit-slider-thumb:after
  {
    position: absolute;
    top: 3px;
    width: 150px;          
    height: 15px;
    content:"";
    pointer-events: none;   
    transition:.2s;
  }
  
  input[type="range"]::-webkit-slider-thumb:before{
    left: 0px;
    background: rgb(88, 18, 18);
  }
  input[type="range"]::-webkit-slider-thumb:after {
    left: 10px;
    background: #edc;
  }
#volumn-slide:active::-webkit-slider-thumb{
    transform: scale(1.2);
}
/* circle img */
.circle{
    position: relative;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#image{
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    width:180px;
    height:100%;
}
/* song ans artist */
.songname{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 7px;
font-size: 16px;
font-family: 'Courgette', cursive;
letter-spacing: 10px;
}
.songname p {
font-size: 14px;
letter-spacing: 5px;
}
/* time */
.time{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.duration-time, .end-time{
    margin: 0 10px;
    font-size: 16px;
    color: white;
}
#timeline{
    width:100px;
    height: 3px;
    background: white;
    color:white;
    transition: 0s;
    position: relative;
}
#timeline::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:12px;
    height:12px;
    background:rgb(255, 118, 118);
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    position: relative;
    transform: scale(1);
}
/* #timeline:active::-webkit-slider-thumb{
    transform: scale(1.1);
} */
/* btn */

.btn{
    width:100%;
    height:auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: white;
    margin-top: 25px;
}
#prev_btn,#next_btn{
    font-size: 30px;
    margin: 0 18px;
}
#repeat_btn, #like_btn{
    font-size: 18px;
    margin: 0 10px;
}
#play_btn{
    color:rgb(157, 240, 255) ;
    text-shadow: 0 0 8px rgb(0, 238, 255); 
}
.fas, .far{
    cursor: pointer;
}

.fas.fa-heart{
    cursor: pointer;
    color: rgb(255, 61, 61);
    animation: animate 0.2s forwards;
    text-shadow: 0 0 5px rgb(255, 85, 85);
}

@keyframes animate{
    0%,100%{
      transform: scale(1);  
    }
    50%{
        transform: scale(1.1);
    }
}

.like_btn{
    cursor: pointer;
}

#image{
    transform-style:preserve-3d ;
    transform: translate3d(0,0,200px);
    perspective: 300px;
   box-shadow: 0 5px 30px rgb(37, 9, 0);
}
.fa-search{
    position:relative;

}
#search-bar{
    animation: close 0.5s forwards;
    visibility: hidden;
 position: relative;
 width: 150px;
 height:30px;
 border-radius: 20px;
 background-color:rgba(100, 174, 177, 0.253);
 box-shadow: inset 2px 2px 10px rgba(74, 128, 119, 0.7);
 left:0px;
 top:15px;
 overflow: hidden;
 z-index: 1;
 border: none;
}
.active#search-bar{
    width: 150px;
    height:30px;
    border-radius: 20px;
    background-color:rgba(100, 174, 177, 0.253);
    box-shadow: inset 2px 2px 10px rgba(74, 128, 119, 0.7);
    position: relative;
    left:0px;
    top:15px;
    animation: showup 0.5s forwards;
    overflow: hidden;
    z-index: 1;
    border: none;
}

@keyframes showup {
    0%{
        width: 0px; 
        visibility: hidden;
    }
    100%{
        width:  150px;
        visibility: visible;
    }    
}

@keyframes close{
    0%{
        width:150px; 
        visibility: visible;
        opacity:1;
    }
    100%{
        width: 0px;
        visibility:hidden;
        opacity:0;
    }    
}

